<div class="center-screen">
  <mat-card class="card">
    <div>
      <div class="center-screen" style="padding-top: 100px">
        <img [src]="image || defaultImage" alt="Avatar" style="width: 150px" />
      </div>
      <div
        class="center-screen"
        style="padding-top: 20px; display: flex; gap: 8px"
      >
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          <span>Upload</span>
          <input
            #fileInput
            type="file"
            [accept]="getImageTypes()"
            (change)="selectImage($event)"
            style="display: none"
          />
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="uploadImage()"
          [disabled]="!file"
        >
          <span>Save</span>
        </button>
      </div>
    </div>
    <div style="margin: 10px">
      <mat-tab-group>
        <mat-tab label="About">
          <mat-toolbar class="toolbar-with-labels">
            <mat-label>Name</mat-label>
            <mat-label class="right-label">{{ user.name }}</mat-label>
          </mat-toolbar>
          <mat-toolbar class="toolbar-with-labels">
            <mat-label>Surname</mat-label>
            <mat-label class="right-label">{{ user.surname }}</mat-label>
          </mat-toolbar>
          <mat-toolbar class="toolbar-with-labels">
            <mat-label>UserName</mat-label>
            <mat-label class="right-label">{{ user.userName }}</mat-label>
          </mat-toolbar>
          <mat-toolbar class="toolbar-with-labels">
            <mat-label>Email</mat-label>
            <mat-label class="right-label">{{ user.email }}</mat-label>
          </mat-toolbar>
          <mat-toolbar class="toolbar-with-labels">
            <mat-label>Birthday</mat-label>
            <mat-label class="right-label">{{
              user.birthday | date: "yyyy-MM-dd"
            }}</mat-label>
          </mat-toolbar>
        </mat-tab>
        <mat-tab label="Edit">
          <mat-toolbar style="margin-bottom: 10px"> Edit Info </mat-toolbar>
          <profile-edit (onEdit)="onUserEdit($event)"></profile-edit>
        </mat-tab>
        <mat-tab label="Password">
          <mat-toolbar> Change password </mat-toolbar>
          <profile-password-change></profile-password-change>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
