<form [formGroup]="formGroup">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Name"
      formControlName="name"
      required
    />
    <mat-error>{{
      validationService.getErrorMessage(getControl("name"))
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Surname"
      formControlName="surname"
      required
    />
    <mat-error>{{
      validationService.getErrorMessage(getControl("surname"))
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Username"
      formControlName="userName"
      required
    />
    <mat-error>{{
      validationService.getErrorMessage(getControl("userName"))
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Email"
      formControlName="email"
      required
    />
    <mat-error>{{
      validationService.getErrorMessage(getControl("email"))
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="date"
      placeholder="Birth Day"
      formControlName="birthday"
      required
    />
    <mat-error>{{
      validationService.getErrorMessage(getControl("birthday"))
    }}</mat-error>
  </mat-form-field>
  <div style="display: inline-flex; gap: 8px">
    <button
      mat-raised-button
      color="primary"
      (click)="editUser()"
      [disabled]="!formGroup.valid"
    >
      <span>Save</span>
    </button>
    <button mat-raised-button color="accent" (click)="deleteUser()">
      <span>Delete</span>
    </button>
  </div>
</form>
