<form [formGroup]="formGroup" (ngSubmit)="changePassword()">
  <mat-form-field>
    <input
      matInput
      [type]="currentPasswordHide ? 'password' : 'text'"
      placeholder="Current Password"
      formControlName="currentPassword"
      required
    />
    <mat-icon matSuffix (click)="currentPasswordHide = !currentPasswordHide">{{
      currentPasswordHide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error>{{
      validationService.getErrorMessage(getControl("currentPassword"))
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [type]="newPasswordHide ? 'password' : 'text'"
      placeholder="New Password"
      formControlName="newPassword"
      required
    />
    <mat-icon matSuffix (click)="newPasswordHide = !newPasswordHide">{{
      newPasswordHide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error>{{
      validationService.getErrorMessage(getControl("newPassword"))
    }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
    Save
  </button>
</form>
