.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}
.left-label {
  color: #999999;
}

.toolbar-with-labels {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
