<div class="wrapper">
  <mat-card id="product-view-card">
    <mat-toolbar class="toolbar-with-labels">
      <mat-label class="left-label">Name</mat-label>
      <mat-label>{{ product.name }}</mat-label>
    </mat-toolbar>
    <mat-toolbar class="toolbar-with-labels">
      <mat-label class="left-label">Description</mat-label>
      <mat-label>{{ product.description }}</mat-label>
    </mat-toolbar>
    <mat-toolbar class="toolbar-with-labels">
      <mat-label class="left-label">Price</mat-label>
      <mat-label>{{ product.price }}</mat-label>
    </mat-toolbar>
    <mat-toolbar class="toolbar-with-labels">
      <mat-label class="left-label">Publication Date</mat-label>
      <mat-label>{{ product.publicationDate | date: "yyyy-MM-dd" }}</mat-label>
    </mat-toolbar>
    <mat-toolbar class="toolbar-with-labels">
      <mat-label class="left-label">Who created</mat-label>
      <mat-label>{{ product.userWhoCreated.email || "n/a" }}</mat-label>
    </mat-toolbar>
  </mat-card>
  <mat-card>
    <comments-list [productId]="product.id"></comments-list>
  </mat-card>
</div>
