<mat-card>
  <mat-card-content>
    <h2>Registration</h2>
    <form [formGroup]="formGroup" (ngSubmit)="register()">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Name"
          formControlName="name"
          required
        />
        <mat-error>{{
          validationService.getErrorMessage(getControl("name"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Surname"
          formControlName="surname"
          required
        />
        <mat-error>{{
          validationService.getErrorMessage(getControl("surname"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="userName"
          required
        />
        <mat-error>{{
          validationService.getErrorMessage(getControl("userName"))
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
          required
        />
        <mat-error>{{
          validationService.getErrorMessage(getControl("email"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error>{{
          validationService.getErrorMessage(getControl("role"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birth Day</mat-label>
        <input
          required
          matInput
          [matDatepicker]="picker"
          formControlName="birthDay"
          placeholder="mm/dd/yyyy"
        />

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{
          validationService.getErrorMessage(getControl("birthDay"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error>{{
          validationService.getErrorMessage(getControl("password"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          required
        />
        <mat-error>{{
          validationService.getErrorMessage(getControl("confirmPassword"))
        }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
        Sign Up
      </button>
    </form>
  </mat-card-content>
  <div class="container">
    <p>
      You already have account?
      <a href="login" class="link-danger">Login</a>
    </p>
  </div>
</mat-card>
